$tabSplitMenuWidth: 65px;
/*$menuWidth: 250px;*/
$menuWidth: var(--menu-width);
$minMenuWidth: 65px;
$transitionTime: 0.3s ease;
$logoHeight: 60px;
$tabHeight: 42px;
$footerHeight: 0px;
$bottomBb:0px;
$menuItemHeight: 60px;
$menuHeight:45px;

$logoHeightLcr:110px;
$leftMenuFooter:80px;